/* *** Elements *** */
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: var( --font-family );
	font-size: var( --font-size );
	font-weight: var( --font-weight );
	line-height: var( --line-height );
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}
h1 {
	font-size: 2.25rem;
}
h2 {
	font-size: 2.00rem;
}
h3 {
	font-size: 1.75rem;
}
h4 {
	font-size: 1.50rem;
}
h5 {
	font-size: 1.25rem;
}
h6 {
	font-size: 1.00rem;
}

li::marker {
	font-weight: bold;
}

pre, code, kbd, samp {
	font-family: var( --font-family-mono );
}

code, kbd {
	white-space: pre-wrap;
	border-radius: 3px;
	padding: 0.2em 0.4em;
	background-color: var( --code-bg-color );
	color: var( --code-color );
}

table {
	width: 100%;
	border: 1px solid var( --table-border-color );
	border-collapse: collapse;
	border-spacing: 0;
	text-align: left;
}

table.striped tr:nth-of-type( 2n ) {
	background-color: var( --table-stripe-color );
}

td, th {
	border: 1px solid var( --table-border-color );
	vertical-align: middle;
	padding: 0.2rem 0.5rem;
}

th {
	background-color: var( --table-header-background-color );
}

thead {
	border-bottom: 3px solid var( --table-border-color );
}

tfoot {
	border-top: 3px solid var( --table-border-color );
}

blockquote {
	box-shadow: -5px 5px 7px 0px var( --blockquote-shadow );
	padding: 20px;
	background-color: var( --blockquote-background );
	border: 1px solid var( --blockquote-border );
}
blockquote cite::before {
	content: "\2014";
	padding-right: 7px;
}
